.banner-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.banner-form {
  background: linear-gradient(to right, rgba(57, 123, 231, 1), rgba(53, 41, 247, 1));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
}

.date-time-container {
  display: flex;
  gap: 10px;
}

.form-date-time {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.banner-form-button {
  background-color: #EA6614;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
  border-radius: 8px;
  width: 50%;
}

.banner-form-button:hover {
  background-color: #b65f29;
}

.error {
  color: red;
  font-size: 14px;
  display: block;
  margin-bottom: 25px;
}
